<!DOCTYPE html>
<html>
    <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" type="text/css" rel="stylesheet">
    <link href="/css/layout.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        (function () {
            "use strict";

            google.charts.load('current', { 'packages': ['map'], 'mapsApiKey': 'AIzaSyCK0nnkg19MONGuo82bmvHMC4AUAlt_NRY' });
            google.charts.setOnLoadCallback(drawWorldMap);

            function drawWorldMap() {
                var worldMapOptions = {
                    zoomLevel: 2,
                    showTooltip: false,
                    showInfoWindow: false,
                    useMapTypeControl: true
                    },
                    worldMap = new google.visualization.Map(document.getElementById('js-world-map-container')),
                    worldMapDataTable = new google.visualization.DataTable();

                worldMapDataTable.addColumn('number', 'Latitude');
                worldMapDataTable.addColumn('number', 'Longitude');
                /*worldMapDataTable.addColumn('string', 'Country Name');
                worldMapDataTable.addColumn('string', 'Country Flag');*/

                {{#each data}}
                    worldMapDataTable.addRows([
                        [{{countryItemLatitude}},{{countryItemLongitude}}],
                        /*[{{countryItemLatitude}},{{countryItemLongitude}},'{{countryItemName}}','{{countryItemFlag}}'],*/
                    ]);
                {{/each}}

                worldMap.draw(worldMapDataTable, worldMapOptions);

                addListenerToWorldMap(worldMap, worldMapDataTable);
            }

            function addListenerToWorldMap(worldMap, data) {
                google.visualization.events.addListener(worldMap, 'select', function () {
                    var selection = worldMap.getSelection();

                    if (selection.length > 0) {
                        var selectedCountryLatitude = data.getFormattedValue(selection[0].row, 0);
                        var selectedCountryLongitude = data.getFormattedValue(selection[0].row, 1);
                        /*var selectedCountryName = data.getFormattedValue(selection[0].row, 2);
                        var selectedCountryFlag = data.getFormattedValue(selection[0].row, 3);*/

                        drawCountryMap(selectedCountryLatitude, selectedCountryLongitude);
                        /*drawCountryMap(selectedCountryLatitude, selectedCountryLongitude, selectedCountryName, selectedCountryFlag);*/
                    }
                });
            }

            function drawCountryMap(selectedCountryLatitude, selectedCountryLongitude) {
            /*function drawCountryMap(selectedCountryLatitude, selectedCountryLongitude, selectedCountryName, selectedCountryFlag) {*/
                var countryMapOptions = {
                        zoomLevel: 5,
                        showTooltip: true,
                        showInfoWindow: true,
                        useMapTypeControl: true,
                        icons: {
                            default: {
                                normal: 'https://icons.iconarchive.com/icons/icons-land/vista-map-markers/48/Map-Marker-Ball-Azure-icon.png',
                                selected: 'https://icons.iconarchive.com/icons/icons-land/vista-map-markers/48/Map-Marker-Ball-Right-Azure-icon.png'
                            }
                        },
                    },
                    countryMap = new google.visualization.Map(document.getElementById('js-country-map-container')),
                    countryMapDataTable = new google.visualization.DataTable(),
                    latitudeLongitudeArray = [selectedCountryLatitude, selectedCountryLongitude].map(Number);

                /*var countryMapHeading = document.getElementById("js-country-heading"),
                    countryMapFlag = document.getElementById("js-country-flag");*/

                countryMapDataTable.addColumn('number', 'Latitude');
                countryMapDataTable.addColumn('number', 'Longitude');
                countryMapDataTable.addRow(latitudeLongitudeArray);

                countryMap.draw(countryMapDataTable, countryMapOptions);

                /*countryMapHeading.innerText = selectedCountryName;
                countryMapFlag.src = selectedCountryFlag;
                countryMapFlag.style.height = '60px';*/

            }
        }());
    </script>
    </head>
    <body>
        <h1>Where in the world can I use Xoom services?</h1>
        <div id="js-world-map-container" class="map-container"></div>

        <div class="country-heading-flag-container">
            <h2 id="js-country-heading" class="map-container-heading"></h2>
            <img id="js-country-flag" class="country-flag" src="" border="0" />
        </div>

        <div id="js-country-map-container" class="map-container"></div>
    </body>
</html>
